# {{ ansible_managed }}

[client]
host = {{ item.login_host | default('localhost') }}
port = {{ item.login_port | default(3306) }}
user = {{ item.login_user | default(item.owner) }}
password = '{{ item.login_password }}'

{% if item.ssl is defined %}
ssl = {{ 1 if item.ssl else 0 }}
{% endif %}
